/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* 
    HEADER
*/


header{
    background-color: #FF6900;
    padding: 20px 0;
    margin-bottom: 100px;
}

.header-row{
    display: flex;        
}

.header-col-small{
    height: 40px;
    width: calc(100% / 4);
    padding-top: 10px; 
}

.header-col-small2{
    height: 40px;
    width: calc(100% / 4);
    padding-top: 10px;
    text-align: right;
}

.header-col-big{
    height: 40px;
    width: calc(100% / 2);
}

.header-col-small nav ul li a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.header-col-small nav ul li{
    display: inline-block;
}

.header-col-big img{
    width: 25%;
    margin: 0 230px;
}

.header-col-small2 i{
    color: white;
}


/* 
    MAIN
*/

.main-row{
    display: flex;
    flex-wrap: wrap;
}

.main-col-1{
    height: 610px;
    width: calc((100% / 3));
    padding: 0 20px;
    
    
}

.img-section{
    position: relative;
}


.discount{
    height: 20px;
    width: 50px;
    background-color: red;
    position: absolute;
    bottom: 50px;
    color: white;
    text-align: center;

}

.eco{
    height: 20px;
    width: 98px;
    background-color: green;
    position: absolute;
    bottom: 50px;
    left: 55px;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 4px 0px;
}

.heart{
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    position: absolute;
    font-size: 2em;
    padding-top: 10px;
    top: 10px;
    right: 0;



}


.main-col-1 img{
    width: 100%;
}

.img-section .img-2{
    display: none;
}

.img-section:hover .img-2{
    display: block;
}

.img-section:hover .img-1{
    display: none;
}


small{
    color: gray;
}

.text{
    font-weight: 700;
}

.new-price{
    color: red;
    font-weight: 700;
}

.old-price{
    text-decoration: line-through;
}

.eco2{
    height: 20px;
    width: 98px;
    background-color: green;
    position: absolute;
    bottom: 50px;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 4px 0px;
}







/* 
    FOOTER
*/

footer{
    background-color: #0E0E0E;
    height: 100px;
    padding-top: 20px;
    
}

.footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-col-1{
    height: 60px;
    width: 400px;
    color: white;
    line-height: 30px;
}

.footer-col-2{
    height: 60px;
    width: 300px;
    color: white;
    text-align: center;
    padding-top: 10px;
    line-height: 30px;
}





